<div class="carousel-item  white-text">
    <div class="caption center-align">
        <a href="#human-being" title="Scroll to this section" class="vp-button black white-text hoverable">{{button}}</a>

        <div class="row">
            <div class="col m6 s6 ">
                <img :src='lego' class="lego" alt="">
            </div>
            <div class="col black-text light flow-text s6 left-align">
                <p class="slider-p">{{text}}</p>
            </div>
        </div>
    </div>
</div>