<div>
    <div class="navbar-fixed">
        <nav class="z-depth-0  lighten-3">
            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="#human-being" class="black white-text btn">HUMAN BEING</a></li>
                    <li><a href="#mindset" class="black white-text btn">MINDSET</a></li>
                </ul>
                <a href="#!" class="brand-logo center black-text"><h1>Valérian Polizzi</h1></a>

                <ul class="right hide-on-med-and-down">
                    <li><a href="#experiences"class="black white-text btn">EXPERIENCES</a></li>
                    <li><a href="#work" class="black white-text btn">PORTFOLIO</a></li>
                </ul>

            </div>
        </nav>
    </div>
    <ul class="side-nav center-align" id="mobile-demo">
        <li><a href="sass.html">HUMAN BEING</a></li>
        <li><a href="badges.html">SKILLSETS</a></li>
        <li><a href="collapsible.html">PORTFOLIO</a></li>
        <li><a href="mobile.html">CONTACT FORM</a></li>
        <li><div class="divider"></div></li>
    </ul>
</div>

