    <div class="col s12  ">
        <div class="card hoverable white">
            <div class="card-content">
                <div class="row">
                    <div class="col s12 m4 center-align">
                        <img :src="image" alt="" class="responsive-img hide-on-small-only">
                    </div>
                    <div class="col s12 m8">
                        <span class="title">{{title}}</span></br>
                        <span class="subtitle">{{subtitle}}</span>
                        <hr>
                        <p class="">{{text}}</p>
                    </div>
                    <div class="center-align">
                        <button v-if="link"  class="btn center-align">PROJECT PAGE</button>
                    </div>

                </div>

            </div>
            <div class="card-action center-align">
               <span>{{date}}</span>
            </div>
        </div>
    </div>