<footer class="page-footer vp-yellow">
    <div class="container">
        <div class="row">
            <div class="col l4 s12 black-text">
                <h5>Sharing is caring</h5>
                <ul class="share">
                    <li>
                        <a class="white-text blue btn tooltipped" data-position="right" data-delay="50" data-tooltip="Share on Linkedin" target="_blank" href="https://www.linkedin.com/cws/share?url=www.valerianpolizzi.fr&original_referer=https%3A%2F%2Fdeveloper.linkedin.com%2Fetc%2Fdesigns%2Flinkedin%2Fkaty%2Fglobal%2Fclientlibs%2Fhtml%2Fsandbox.html%3Falign-class%3Dmiddle-center&token=&isFramed=true&lang=en_US&_ts=1518800069765.987&xd_origin_host=https%3A%2F%2Fdeveloper.linkedin.com">Linkedin	</a>
                    </li>
                    <li>
                        <a class="white-text blue darken-2 btn tooltipped" data-position="right" data-delay="50" data-tooltip="Share on Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.valerianpolizzi.fr%2F&amp;src=sdkpreparse">Facebook</a>
                    </li>
                    <li>
                        <a class="white-text blue lighten-1 btn tooltipped" data-position="right" data-delay="50" data-tooltip="Share on Twitter" target="_blank" href="https://twitter.com/intent/tweet?text=www.valerianpolizzi.fr is awesome! well done @polyeezy">Twitter	</a>
                    </li>
                </ul>
            </div>
            <div class="col l4 s12">
                <h5 class="black-text">Valérian on</h5>
                <ul class="share">
                    <li>
                        <a class="white-text blue darken-2 btn tooltipped" data-position="right" data-delay="50" data-tooltip="@ValerianPolizzi" target="_blank" href="https://www.linkedin.com/in/valerianpolizzi/">Linkedin</a>
                    </li>
                    <li>
                        <a class="white-text brown btn tooltipped" data-position="right" data-delay="50" data-tooltip="@polyeezy" target="_blank" href="http://instagram.com/polyeezy">Instagram	</a>
                    </li>
                    <li>
                        <a class="white-text blue lighten-1 btn tooltipped" data-position="right" data-delay="50" data-tooltip="@polyeezy" target="_blank" href="https://twitter.com/Polyeezy">Twitter	</a>
                    </li>
                    <li>
                        <a class="white-text black white-text lighten-1 btn tooltipped" data-position="right" data-delay="50" data-tooltip="@polyeezy" target="_blank" href="https://github.com/polyeezy">Github	</a>
                    </li>
                </ul>
            </div>
            <div class="col l4 s12">
                <h5 class="black-text">Inspirations</h5>
                <ul class="inspi">
                    <li><a class="black white-text btn tooltipped" data-position="right" data-delay="50" data-tooltip="Design" target="_blank" href="https://genius.com/">Genuis</a></li>
                    <li><a class="red black-text btn tooltipped" data-position="right" data-delay="50" data-tooltip="Colors (obviously)" target="_blank" href="https://www.youtube.com/channel/UC2Qw1dzXDBAZPwS7zm37g8g">Colors</a></li>
                    <li><a class="red white-text lighten-1 btn tooltipped" data-position="right" data-delay="50" data-tooltip="Framework" target="_blank" href="http://materializecss.com/">Materialize</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright ">
        <div class="container black-text lighten-2">
            © 2017 Valérian Polizzi
        </div>
    </div>
</footer>