.vp-yellow{
    background: #F8EE69;
}

h5{
    padding-top: 40px;
    padding-bottom: 40px;

}

.card-mind{
    margin-bottom: 30px;
}

.vp-button{
    font-size: 20px;
    font-family: "Work Sans", "Roboto";
    font-weight: normal;
    background: black;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.preloader {
    width: 100%;
    height: 100vh;
    background: #F8EE69;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Raleway", sans-serif;
    position: relative;
}
.preloader__status {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.preloader__status-text {
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
}
.preloader__status-loader {
    width: 100%;
    height: 3px;
}
.preloader__status-bar {
    background: black;
    height: 100%;
}

nav{
}

.portfolio{
    background-color:#838AA4;
}

.caption .row{
    margin-top: 50px;
}

.carousel.carousel-slider .carousel-item p {
    font-size: 24px !important;
}

@media (max-width: 640px) {

    .carousel.carousel-slider .carousel-item p {
        font-size: 14px !important;
    }
}

@media (min-width: 640px) and (max-width: 1080px) {

    .carousel.carousel-slider .carousel-item p {
        font-size: 20px !important;
    }
}

.tabs .indicator {
    background-color: #F8EE69 !important;
}

.caption{
    padding-top: 80px;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators{
    bottom: 320px !important;
}

.slider .slides li .caption p{
    color: black !important;
}

.lego{
    min-height: 23px;
    min-width: 14px;
    max-height: 250px;
}

.slider .indicators .indicator-item.active{
    background-color: black !important;
}

.carousel .indicators .indicator-item.active{
    background-color: black !important;
}